<form  class="container col-sm-8" action="/api/products" method="post" >
  <div class="form-group">
    <label for="exampleInputEmail1">nombre</label>
    <input type="text" class="form-control"   name="title" id="title" placeholder="calculadora">
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">precio</label>
    <input type="number" class="form-control" name="price" id="price" placeholder="145">
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">url imagen</label>
    <input type="text" class="form-control"  name="thumbnail" id="thumbnail" placeholder="foto.png">
    
  </div>
  
  <button type="submit" class="btn btn-primary"  > Submit</button>
</form>
